**
!package.json
!README.md
!LICENSE
!THIRD_PARTY_NOTICES.txt
!dist/extension.cjs
!media/practice.js
!media/word-feedback.js
!media/practice.css
!media/references.js
!media/references.css
!docs/gpt-sovits.md
!config/gpt-sovits-infer.example.yaml
!config/gpt-sovits-settings.example.json
!CHANGELOG.md
!docs/development.md
!docs/validation.md
!docs/images/practice.png
